@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
/* header styling */

.header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 15px;
    align-items: center;
}

.header-1 {
    display: flex;
    align-items: center;
}

.header-1 img {
    width: 100px;
    margin-left: 15px;
}

.header i {
    padding: 0px 10px;
    cursor: pointer;
} 

.header-2 form {
    border: 1px solid #ddd;
    height: 35px;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-2 input {
    width: 600px;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    border: none;
}

.header-2 button {
    padding: 0;
    margin: 0;
    height: 100%;
    border: none;
    border-radius: 0;
}

.material-icons {
    color: rgb(96, 96, 96);
}

/* main section */

.main{
    height: calc(100vh - 70px);
    display: flex;
    overflow: hidden;
}

/* sidebar */

.sidebar {
    height: 100%;
    width: 230px;
    background-color: white;
}

.sidebar-lists {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.sidebar-list {
     display: flex;
     align-items: center;
     padding: 12px 25px;
}

.sidebar-list a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.sidebar-list:hover {
    background-color: lightgray;
    cursor: pointer;
}

hr {
    height: 1px;
    background-color: lightgray;
    border: none;
}

/* videos styling */
/* img {
    width: 250px;
    height: 250px;
} */

.videos {
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    padding: 15px 25px;
    border-top: 1px solid #ddd;
    overflow-y: scroll;
}

.videos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.video {
    width: 300px;
    margin-right: 10px;
    margin-bottom: 40px;
}

.video-thumbnail {
    width: 100%;
    height: 170px;
}

.video-thumbnail img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* .thumbnail::before{
    content: attr(data-duration);
    position: absolute;
    background-color: rgba(0, 0, 0, .85);
    color: white;
    right: 5px;
    bottom: 5px;
    padding: .1em .3em;
    border-radius: .3em;
    font-size: .9rem;
}

.thumbnail-image {
    width: 100%;
    height: 100%;
} */

.author img {
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.video-details {
    display: flex;
    margin-top: 10px;
}

.title {
    display: flex;
    flex-direction: column;
}

.title h3 {
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 5px;
}

.title a, span {
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 13px;
}

.title-check {
    display: flex;
    align-items: center;
}

.title-check i {
    margin-left: 6px;
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(3, 3, 3);
}
